* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(/img/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
  background-size: cover;
}

header {
  box-sizing: content-box;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  background-color: rgb(230, 227, 224);
  position: absolute;
}
h1 {
  position: relative;
  top: 0.5em;
  left: em;
}

header p {
  position: relative;
  top: 4em;
  font-size: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.wrapper_one_heading,.wrapper_two_heading{
  color: antiquewhite;
  position: relative;
  font-size: 20px;
}
.wrapper_one_heading {
  left: -29em;
  top: 8.7em;  
}
.wrapper_two_heading {
  top: 8.5em;
  left: -28.5em;
}

.key_wrapper_two,
.key_wrapper_one {
  position: relative;
  top: 6em;
  left: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.key {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  opacity: 0.6;
  background-image: url(/img/oleg-laptev-QRKJwE6yfJo-unsplash.jpg);
  background-size: cover;
  background-position: bottom 25px right 119px;
}

kbd {
  font-size: 19px;
  position: relative;
  top: 3.8rem;
  left: 2.6rem;
}


